%border-radius-treatment {
  border-radius: 3px;
}

%button-base {
  @extend %border-radius-treatment;
  padding: $gutter/2 $gutter;
  font-family: $button-font;
  font-size: 14px;
  font-weight: $button-weight;
  letter-spacing: 0.1em;
  border-style: solid;
  border-width: 1px;
  transition: all 0.4s $ease-out-quad;

  & + & {
    margin-left: $gutter * 0.75;
  }
}

%button-primary {
  color: $button-primary-text-color;
  background-color: $button-primary-background-color;
  border-color: $button-primary-border-color;

  &:hover {
    @include button-hover($button-primary-background-color, background);
    @include button-hover($button-primary-border-color, border-color);
    color: $button-primary-text-color;
  }
}

%button-secondary {
  color: $button-secondary-text-color;
  background-color: $button-secondary-background-color;
  border-color: $button-secondary-border-color;

  &:hover {
    color: $container-background-color;
    background-color: $button-secondary-border-color;
  }
}

%heading-text-treatment {
  font-family: $heading-font;
  font-weight: $heading-weight;
  letter-spacing: 0.05em;
  color: $heading-color;
  text-transform: uppercase;
}

%navigation-toggle-line {
  display: inline-block;
  width: 25px;
  height: 1px;
  padding: 0;
  margin: 0;
  line-height: 1px;
  border-top: 3px solid $main-nav-color;
  transition: all 0.2s $ease-out-quad;

  .main-nav-open & {
    border-color: $main-nav-color-overlay-contrast;
  }
}

%heading-text-treatment {
  font-family: $heading-font;
  font-weight: $heading-weight;
  letter-spacing: 0.05em;
  color: $section-title-color;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

%meta-text-treatment {
  font-family: $meta-font;
  font-weight: $meta-weight;
  letter-spacing: 0.05em;
  color: $meta-color;
  text-transform: uppercase;
}

%wrapper {
  width: 100%;
  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;

  // Solves border-box issue with max-width in IE8
  .lt-ie9 & { width: $max-width; }
}

%full-width {
  padding-right: $gutter;
  padding-left: $gutter;
}

%page-overlay {
  @include page-overlay(map-get($zindex, content));
}

%page-header {
  width: 100%;
  padding-top: $gutter;
  padding-bottom: $gutter;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

%icon-base {
  font-family: "fortune-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  font-variant: normal;
}

%font-smoothing {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

%checkbox-hide {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

%show-for-sr {
  //scss-lint:disable PlaceholderAsExtend
  @extend .show-for-sr;
}
