@font-face {
  font-family: "fortune-icons";
  src: url("../fonts/fortune-icons.eot?-g9duav");
  src: url("../fonts/fortune-icons.eot?#iefix-g9duav") format("embedded-opentype"),
  url("../fonts/fortune-icons.ttf?-g9duav") format("truetype"),
  url("../fonts/fortune-icons.woff?-g9duav") format("woff"),
  url("../fonts/fortune-icons.svg?-g9duav#fortune-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
