.sitemap-list {
  @include grid-row(nest);
}

.sitemap-item {
  margin-bottom: $gutter * 3;

  @include breakpoint(s-only) {
    @include grid-columns(1 of 1);
  }

  @include breakpoint(m-only) {
    @include grid-columns(1 of 2);
  }

  @include breakpoint(l-up) {
    @include grid-columns(1 of 3);
  }

}

.sitemap-item-child {
  padding-left: $gutter;
}

.sitemap-label {
  padding-bottom: $gutter/2;
  margin-top: 0;
  font-size: 20px;
  border-bottom: 1px solid $border-color;
}

.sitemap-show-all {
  padding-top: $gutter/2;
  margin-top: $gutter/2;
  border-top: 1px solid $border-color;
}
