$button-primary-text-color: $button-font-color;
$button-primary-background-color: $button-background-color;
$button-primary-border-color: $button-border-color;

$button-secondary-text-color: $button-secondary-font-color;
$button-secondary-background-color: $button-secondary-background-color;
$button-secondary-border-color: $button-secondary-border-color;

$button-tertiary-text-color: $color-primary-light;
$button-tertiary-background-color: transparent;
$button-tertiary-border-color: transparent;

$button-disabled-background-color: $accent-color;
$button-disabled-color: $color-primary-contrast;
