// Icons
$icon-payment-apple-pay: "\e900";
$icon-payment-visa: "\e301";
$icon-payment-mastercard: "\e302";
$icon-payment-american-express: "\e303";
$icon-payment-paypal: "\e304";
$icon-payment-discover: "\e305";
$icon-facebook: "\e600";
$icon-google: "\e601";
$icon-instagram: "\e602";
$icon-pinterest: "\e603";
$icon-rss: "\e604";
$icon-tumblr: "\e605";
$icon-twitter: "\e606";
$icon-youtube: "\e607";
$icon-stumbleupon: "\e608";
$icon-arrow-left: "\e609";
$icon-arrow-right: "\e60a";
$icon-cart: "\e60b";
$icon-search: "\e60c";
$icon-user: "\e60d";
$icon-mail: "\e60e";
$icon-print: "\e60f";
$icon-star: "\e610";
$icon-star-half: "\e611";
$icon-menu: "\e612";
$icon-close-circle: "\e613";
$icon-close: "\e614";
$icon-linkedin: "\e615";
$icon-circle-full: "\e616";
$icon-remove: "\e617";
$icon-increase: "\e618";
$icon-decrease: "\e619";
$icon-menu2: "\e9bd";
